# Directories to ignore
"Latex files"/
"FYP resources"/

# LaTeX intermediate files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.idx
*.ind
*.ilg
*.nav
*.snm
*.vrb
*.bcf
*.run.xml
*.figlist
*.makefile
*.fignore
*.figlist
*.makefile
*.figlist
*.auxlock
*.figlist
*.makefile
*.figlist
*.auxlock
*.pdf_tex
*.eps_tex

# PDF files (usually generated)
*.pdf